.svg
{ 
  width:1500px;
  height: 125px;
  clip-path: polygon(calc(100% - 352.96px) 124.453px, 0px 0px, 1500px 0px, 1192.85px 118.355px, 1192.85px 118.355px, 1188.50471px 119.941111px, 1184.07968px 121.313928px, 1179.58517px 122.472077px, 1175.03144px 123.414184px, 1170.42875px 124.138875px, 1165.78736px 124.644776px, 1161.11753px 124.930513px, 1156.42952px 124.994712px, 1151.73359px 124.835999px, 1147.04px 124.453px); 
  background-color: bisque;
}

.className 
{ 
  width:1500px;
  height: 825px;
  clip-path: polygon(1500px 0px, 0px 0px, calc(50% - 750px) 700px, 1147.04px 824.453px, 1147.04px 824.453px, 1151.73359px 824.835999px, 1156.42952px 824.994712px, 1161.11753px 824.930513px, 1165.78736px 824.644776px, 1170.42875px 824.138875px, 1175.03144px 823.414184px, 1179.58517px 822.472077px, 1184.07968px 821.313928px, 1188.50471px 819.941111px, 1192.85px 818.355px, 1500px 700px, 1500px 0px); 
  background-color: bisque;
}