@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../styles/fonts.css';

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

img {
  width: 100%;
  display: block;
}